################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Learning.OOPS/bin/Debug/net8.0
/Learning.OOPS/obj
/.vs/Learning.OOPS/FileContentIndex
/Class.Static/obj
/Class.Static/bin/Debug/net8.0
/.vs/Learning.OOPS/v17
/Interface.Inheritance/bin/Debug/net8.0
/Interface.Inheritance/obj
